<%- include("../includes/header.ejs", {title:"Account - " + account[0].email}); %>
    <h1>Account</h1>
    <ul>
        <li>First Name: <%= account[0].first_name %></li>
        <li>Last Name: <%= account[0].last_name %></li>
        <li>Email: <%= account[0].email %></li>
        <li>Skill(s):
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                    <li><%= skill[i].skill_name + ', ' + skill[i].description %></li>
                <% } %>
            </ul>
        </li>
        <li>School(s):
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Company(s):
            <ul>
                <% for(var i=0; company.length > i; i++ ) { %>
                <li><%= company[i].company_name %></li>
                <% } %>
            </ul>
        </li>

    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>