<%- include("../includes/header.ejs", {title:"Resumes - " + resume.resume_name}); %>
    <h1>Resumes</h1>
    <ul>
        <li>Resume Name: <%= resume.resume_name %></li>
        <li>Account: <%= resume.first_name + ' ' + resume.last_name + ', ' + resume.email %></li>
        <li>Company(s):
            <ul>
                <% for(var i=0; company.length > i; i++ ) { %>
                <li><%= company[i].company_name%></li>
                <% } %>
            </ul>
        </li>
        <li>School(s):
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name%></li>
                <% } %>
            </ul>
        </li>
        <li>Skill(s):
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                <li><%= skill[i].skill_name%></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>